/* Setup */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

::selection {
    background: #FF7600; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #FF7600; /* Gecko Browsers */
}

/* Nav Bar */

.navbar {
    background: #FF7600; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF7600, #fc4a1a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF7600, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*opacity:0;*/
    width: 100%;
    /*margin-left:-30px;*/
    color: #FFFFFF !important;
}

@media (max-width: 991px) {
    .navbar-brand {
        color: #FFFFFF !important;
        font-size: 1.2em;
        padding: 0 0.25em;
        vertical-align: middle;
        line-height: 1em;
    }

    .navbar-brand strong {
        margin-left: 5px;
        vertical-align: middle;
    }

    .navbar-brand img {
        vertical-align: middle;
    }

    .navbar-collapse {
        margin-top: 1em;
    }

    .nav-item {
        padding: 0 45px;
        font-size: 1.1em;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        color: #FFFFFF !important;
        font-size: 1.4em;
        padding: 0.25em 1em;
    }

    .navbar-brand strong {
        margin-left: 15px;
    }

    .nav-item {
        padding: 0 1em;
        font-size: 1.25em;
    }
}

.nav-link {
    color: #FFFFFF !important;
}

.nav-link:hover {
    color: black !important;
}

a:active, a:focus {
    color: black;
    outline: 0;
    border: none;
    -moz-outline-style: none
}

/* Pages */

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.a_page {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#home {
    background-image: url("../img/bg1.jpg");
    position: relative;
}

@media (min-width: 992px) {
    #courses {
        background-image: url("../img/bg2.jpg");
    }
}

#testimonials {
    background-image: url("../img/bg3.jpg");
    position: relative;
}

#contact {
    background-image: url("../img/bg4.jpg");
}

/* Landing */

.above {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 4.5em;
}

.landing_title {
    font-family: 'Iceberg', cursive;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-shadow: 2px 2px 1px #000000;
}

.landing_subtitle {
    color: #FFFFFF;
    /*text-shadow: 1px 1px 1px #000000;*/
}

@media (max-width: 991px) {
    .landing_title {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    .landing_subtitle {
        font-size: 1.4em;
        margin-bottom: 1.333em;
    }

    .find_out_div {
        font-size: 1em;
        margin-bottom: 7em;
    }
}

@media (min-width: 992px) {
    .landing_title {
        font-size: 4em;
    }

    .landing_subtitle {
        font-size: 1.75em;
        margin-bottom: 1em;
    }

    .find_out_div {
        font-size: 1.25em;
        margin-bottom: 4em;
    }
}

.find_out_div a {
    color: #FF7600;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.find_out_div a:hover {
    color: #FFFFFF;

    text-decoration: none;

}

/* Courses */

#courses {
    position: relative;
    text-align: center;
}

#white_overlay {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.page_title {

}

#p_with_pad {
    padding: 1em 2em;
}

#courses_accordion a {
    display: block;
    width: 100%;
    background-color: #FF7600;
    color: #FFFFFF;
    font-size: 1.25em;
    min-height: 3em;
    font-weight: bold;
    line-height: 4em;
    border-top: 1px solid #FFFFFF;
}

#beginners_a {
    background-image: url("../img/subtle-grey.png");
}

#business_a {
    background-image: url(../img/straws.png);
}

#junior_a {
    background-image: url(../img/food.png);
}

#assess_a {
    background-image: url(../img/gplay.png);
}

#qualifications_a {
    background-image: url(../img/3px-tile.png);
}

.course_inner {
    text-align: justify;
}

.course_inner p, .course_inner h1, .course_inner h2, .course_inner h3 {
    padding: 1em 2em;
    margin: 0;
}

.course_inner p {
    line-height: 1.5em;
}

.course_text_wrap {
    /*height:180px;*/
}

/* Testimonials */

#testimonials {
    text-align: center;
    vertical-align: top;
    color: #FFFFFF;
}

#testimonials_inner {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 991px) {
    #testimonials_header {
        padding: 1em;
        margin: auto auto -3em auto;
    }

    #testimonials_header h1 {
        font-weight: 600;
        font-size: 2.5em;
        text-align: center;
        letter-spacing: 2px;
        line-height: 1.5em;
        width: 100%;
        margin-top: 1.75em;
    }

    #testimonials_header h3 {
        font-size: 1.1em;
        width: 100%;
    }
}

@media (min-width: 992px) {
    #testimonials_header {
        padding: 1em;
        margin: auto;
    }

    #testimonials_header h1 {
        font-weight: 600;
        font-size: 3em;
        text-align: center;
        letter-spacing: 2px;
        line-height: 2.5em;
        width: 100%;
        /*margin-top: 2em;*/
    }

    #testimonials_header h3 {
        font-size: 1.5em;
        width: 100%;
    }
}

#testimonial_carousel {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    z-index: 2;
}

.carousel-control {
    color: #bada55;
}

/*.carousel-control .icon-prev, .carousel-control .icon-next {*/
/*font-size: 100px;*/
/*margin-top: -50px;*/
/*color: #fff;*/
/*}*/

.carousel-control-next, .carousel-control-prev {

}

/*.carousel-control-next-icon {*/
/*background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")*/
/*}*/

/*.carousel-control-prev-icon {*/
/*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");*/
/*}*/

.carousel-indicators {

}

.carousel-indicators li {
    opacity: 0.8;
    height: 5px;
}

.carousel-indicators .active {
    background-color: #FF7600;
    opacity: 0.8;
}

.carousel-item {
    min-height: 400px;
    /*width: 100% !important;*/
    text-align: center;
    margin: auto;
}

@media (max-width: 991px) {
    .carousel_img {
        /*width: 60%;*/
        vertical-align: top;
        margin-top: 3em;
    }

    .carousel_text {
        /*width: 100%;*/
        min-height: 375px;
        display: inline-block;
        text-align: left;
        font-size: 0.75em;
    }
}

@media (min-width: 992px) {
    .carousel_img {
        /*width: 15%;*/
        display: inline-block;
        vertical-align: top;
        margin-top: 3em;
    }

    .carousel_text {
        /*width: 60%;*/
        display: inline-block;
        text-align: left;
        margin-top: 3em;
        min-height: 440px;
    }
}

#chevron {
    position: absolute;
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 300px;
    width: 100%;
    top: 39%;
    left: 0;
    opacity: 0.5;
}

#chevron:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    width: 50.01%;
    background-color: #FFFFFF;
    -webkit-transform: skew(0deg, 6deg);
    -moz-transform: skew(0deg, 6deg);
    -ms-transform: skew(0deg, 6deg);
    -o-transform: skew(0deg, 6deg);
    transform: skew(0deg, 6deg);
}

#chevron:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 100%;
    width: 50.01%;
    background-color: #FFFFFF;
    -webkit-transform: skew(0deg, -6deg);
    -moz-transform: skew(0deg, -6deg);
    -ms-transform: skew(0deg, -6deg);
    -o-transform: skew(0deg, -6deg);
    transform: skew(0deg, -6deg);
}

blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 1em;
    padding: 1.5em 2em 0.5em 3em;
    text-align: justify;
}

blockquote:before {
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}

blockquote:after {
    position: absolute;
    float: right;
    font-size: 6em;
    line-height: 1;
    right: 0;
    bottom: -0.75em;
    content: "\201D";
}

footer {
    padding: 1em 2em 0 0;
    text-align: right;
}

cite:before {
    content: "\2013";
}

/* Contact */

#contact {
    position: relative;
}

#contact_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#contact_header {
    /*height:40vh;*/
    color: #FFFFFF;
    text-align: center;
    background: #FF7600; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF7600, #fc4a1a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF7600, #fc4a1a);
}

@media (max-width: 991px) {
    #contact_header h1 {
        font-weight: 600;
        font-size: 2em;
        text-align: center;
        letter-spacing: 2px;
        line-height: 1em;
        color: #FFFFFF;
        margin-top: 3.5em;
    }

    #contact_header h2 {
        font-size: 1.2em;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 1em;
    }

    #form_wrapper {
        margin-top: 2em;
    }

    #form {
        position: relative;
        width: 100%;
        margin: auto;
        font-family: "Lato", sans-serif;
        color: #FF7600;
    }
}

@media (min-width: 992px) {
    #contact_header h1 {
        font-weight: 600;
        font-size: 3em;
        text-align: center;
        letter-spacing: 2px;
        line-height: 2em;
        color: #FFFFFF;
        margin-top: 3em;
    }

    #contact_header h2 {
        font-size: 2.25em;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 1em;
    }

    #form_wrapper {
        margin-top: 4em;
    }

    #form {
        position: relative;
        width: 60%;
        margin: auto;
        font-family: "Lato", sans-serif;
        color: #FF7600;
    }

}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
}

input {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    width: 100%;
    height: 50px;
    padding: 0 15px 0 15px;

    background: transparent;
    outline: none;
    border: none;
    color: #FFFFFF;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 15px;

    background: transparent;
    outline: none;
    border: none;

    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 1em;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

#submit_wrapper {
    border: solid 1px #FF7600;
    margin: 0;
    text-align: center;
    outline: none;
    cursor: pointer;
}

#submit_wrapper:hover {
    background: #FF7600; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF7600, #fc4a1a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF7600, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #e2dedb;
}

#submit_wrapper p {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    color: #aca49c;
    padding-top: 1em;
}

.input_wrapper {
    border: solid 1px #FF7600;
    border-bottom: none;
    margin: 0;
}

.errors {
    display: none;
    margin: 0;
}

.errors p {
    text-indent: 10px;
    margin: 0;
    padding-bottom: 1em;
    font-size: 0.75em;
}


@media (max-width: 991px) {
    #msg_response {
        display: none;
        position: absolute;
        width: 90%;
        border: solid 2px #FF7600;
        border-radius: 20px;
        padding: 1.5em;
        background-color: #FFFFFF;
        text-align: center;
        z-index: 9999;
    }

    #msg_response p {
        color: black;
        font-size: 1em;
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 992px) {
    #msg_response {
        display: none;
        position: absolute;
        width: 40%;
        border: solid 2px #FF7600;
        border-radius: 20px;
        padding: 1.5em;
        background-color: #FFFFFF;
        text-align: center;
        z-index: 9999;
    }

    #msg_response p {
        color: black;
        font-size: 1.2em;
        padding: 0;
        margin: 0;
    }
}

#exit_btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    right: 5px;
}

#page_cover{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top:0;
    left:0;
    z-index: 9998;
}







